[2016-11-29 11:51] syohex opened #1 "ivy--switch-buffer-pad raises error"
##### How to reproduce ?

1. Put following Cask file(https://github.com/cask/cask/)
2. `cask`(Install package dependencies)
3. `cask emacs -Q -L . -l ivy-rich.el ivy-switch-buffer-rich.el`(Launch with minimum configuration)
4. `M-x ivy-switch-buffer`

[code]

`(ivy--switch-buffer-pad "ivy-switch-buffer-rich.el" 4)` raises error  because `len` argument is shorter than `(length str)` then first argu

[2016-11-29 12:19] #1 closed

[2016-11-29 12:19] Yevgnen commented on #1
Thanks for reporting it. I guess it should be fix now, though for better user experience, a larger `*-max-length` should be set.

[2016-12-08 09:38] anachronic opened #2 "Make this play nice with counsel-projectile"
I love this enhancement!

Do you think you could make this project play nice with [counsel-projectile](https://github.com/ericdanan/counsel-projectile)? Specifically the switch buffer action.

[2016-12-08 09:47] Yevgnen commented on #2
Hi,

Currently you can add something like
[code]
after loading this package to make it work with `counsel-projectile-switch-to-buffer`. But the project column since a bit redundant if switching buffer in current buffer. Maybe other information can be provided in this situation. Also in other command like `counsel-projectile-switch-project` can also provide extra info motion like project name or vc

[2016-12-08 20:34] anachronic commented on #2
I'll give it a try, thanks.

[2016-12-08 20:34] #2 closed

[2016-12-16 21:05] igorepst opened #4 "Recentf"
Hello,
Could you, please, add support for the virtual buffers in ivy; at least, for paths in recentf?
Thank you

[2016-12-17 06:06] Yevgnen commented on #4
Hi, do you mean something like #[this](https://github.com/abo-abo/swiper/issues/256) or show the virtual buffer just as `|file name | directory|` ?

[2016-12-17 14:52] igorepst commented on #4
More info is better, than less info :) But, seriously, the path would be enough

[2016-12-17 15:29] Yevgnen commented on #4
If you just want the path, setting `ivy-virtual-abbreviate` to `'full` should do the trick.

<img width="644" alt="screen shot 2016-12-17 at 11 28 59 pm" src="https://cloud.githubusercontent.com/assets/16749790/21287904/a2428d1c-c4b0-11e6-9b00-e26a70ee6efe.png">

But I if you want it to to be displayed like the buffers above, I could add an option to make it like

<img width="645" alt="screen shot

[2016-12-17 18:45] igorepst commented on #4
It seems the second option will be not only more consistent, but prettier. And indeed, it may be optional.
Thanks

[2016-12-19 04:54] CSRaghunandan commented on #4
@Yevgnen  I really like the 2nd option more than the first :) I'm a sucker for consistency across my applications.

Also, I feel like `switch-to-buffer` lags a bit after using `ivy-rich` (only when I'm scrolling a lot across the  results). Does the same happen to you?

[2016-12-19 07:18] Yevgnen commented on #4
I'll will make a commit for `recentf` soon.

I don't feel any difference whether I use the package not. The transformation is quite lightweight and only processes the opened buffers now. I tried with 200 opened buffers, with different type files including `python`, `c++`, `emacs-lisp`, `org` etc, but still feel no difference. Maybe you can use the profiler to check ?

[2016-12-19 08:36] CSRaghunandan commented on #4
@Yevgnen the difference is only when I scroll down continuously using pressing and holding up or down arrow or `C-n`/`C-p` other than that, I do not notice any slow downs whatsoever.

[2016-12-19 14:05] Yevgnen commented on #4
@CSRaghunandan Does this happen with the `emacs -Q` setting? Which kind of buffer have you opened? Is there any unicode char in the file path of the opened buffers ?

[2016-12-19 18:01] CSRaghunandan commented on #4
@Yevgnen  It does not happen on `emacs -q`. I guess i've something in my emacs config that causing very minor lag when I scroll continuously when holding down arrows. I guess it's fine for now as I rarely ever continuously scroll in the ivy minibuffer

[2016-12-21 11:17] wbolster opened #7 "easier way to enable"
this package should provide

`(ivy-rich-mode 1)`

as the main way to enable/install the hooks. this is not only nicer, but also allows for better extensibility without requiring changes to user's configuration.

[2016-12-24 09:37] xianghx opened #8 "Args out of rang"
ivy-rich-switch-buffer-transformer: Args out of range: "/home/xianghx/dotconfig/.emacs.d", 33, nil

[code]

[2016-12-28 10:20] Yevgnen commented on #4
@CSRaghunandan Sorry for late reply. I've tried `js2-mode` buffers but still have no idea how is the issue come and everything me here is just fine. I've push a new commit for the origin issue so I'll close this one. Feel free to open a new issue if you still encounter with the lag problem.

[2016-12-28 10:20] #4 closed

[2016-12-28 18:35] igorepst commented on #4
Hi Yevgnen,
Could you, please, look into the issue? I'm getting this:
[code]
My config:
[code]

[2016-12-29 04:20] Yevgnen commented on #4
@igorepst

Base on the error `ivy-rich-switch-buffer-transformer(#("ig-ivy.el" 0 9 (face ivy-virtual)))`, have you set `ivy-virtual-abbreviate` to `full`? Looks like I should add more condition to handle this situation. To align the virtual buffers, we need

[code]

[2016-12-30 19:22] igorepst commented on #4
@Yevgnen
Thank you! I forgot about this setting

[2017-01-02 18:19] carlcotner opened #10 "formatting issue (in terminal)"
I use Emacs in a terminal, and I just tried ivy-rich. Each line wraps with the last trailing space extending to the next line, so that all the lines are essentially double-spaced. I'm not sure what the design considerations are, but one fix in this case would be just not to add any trailing spaces to the lines. (Another, of course, would be to add one or two fewer trailing spaces.)

I have no idea

[2017-01-03 02:20] Yevgnen commented on #10
Hi, thanks for reporting this. The trailing spaces are used to make each line have the same length for better display. But the in terminal, the last space seems wrap into next line. Subtracting 1 of the path width seems fix the issue here. Please check after the elpa version updated.

[2017-01-03 04:12] carlcotner commented on #10
Thanks, this completely solves the problem I described! Now I notice a few more things that I'll mention -- not all directly about ivy-rich, and maybe not all problems.

First, I show trailing whitespace, so the minibuffer has the trailing whitespace indicator on most of the lines. (I'll figure out how to turn this off just for the minibuffer.)

Second, for the Recentf files (added for Issue #4),

[2017-01-03 04:46] carlcotner commented on #10
Turning off `show-trailing-whitespace` for the minibuffer is easy. I'll record it here for reference:
`(add-hook 'minibuffer-setup-hook (lambda () (setq show-trailing-whitespace nil)))`

[2017-01-03 09:40] Yevgnen commented on #10
Hi, thanks for addressing the issues of the package in terminal emacs.

For second, I will try to find a better solution of it.

For third, since the `transformer` process the candidate **one by one**, and the `path` column has ready dynamically determined based on the window width and other length of columns, so I think it would a bit difficult to dynamically determine the width of `buffer name`

[2017-01-04 00:57] carlcotner commented on #10
Yes, you're right. I reduced `ivy-rich-switch-buffer-name-max-length` from 48 to 35, and that was enough to clear up all the specific formatting problems I saw. Thanks.

I don't know much about Emacs overlays and other advanced display stuff, but I will mention one other thing that may be of interest to you if you're not aware of it. I just discovered that Emacs `hl-line-mode` highlights the full

[2017-01-04 02:46] Yevgnen commented on #10
I don't know much about Emacs overlays too and I'm quite new to programming in elisp😅. I use `hl-line-mode` in my normal buffers but I don't use it in minibuffer since the ivy candidate has its own faces `ivy-current-match` and `ivy-minibuffer-match-*`. I guessed using both will cause thing mess up before but I tried just now and found that even disabling `ivy-rich`, `hl-line-mode` did not play we

[2017-01-06 06:22] xianghx commented on #8
GNU Emacs 25.1.1 (i686-pc-linux-gnu, GTK+ Version 3.10.8) of 2016-09-24
other is latest.

ivy-rich-switch-buffer-transformer: Args out of range: "/home/xianghx/.emacs.d", 23, nil

[2017-01-11 04:41] adouzzy commented on #8
I had the same problem from time to time. I will post again if I can reproduce it too.

[2017-01-14 19:22] #8 closed

[2017-02-15 10:56] seagle0128 commented on #7
I agree.

[2017-02-15 10:58] seagle0128 opened #11 "Extend to other scenarios"
It's a great idea to display "switch buffers" friendly. Can it be extended to other scenarios? For example, find-file, counsel-projectile, etc.

[2017-02-16 01:39] Yevgnen commented on #11
Hi, `ivy-rich` is invented to do this. Ideas about how to display `find-file`, `counsel-projectile` etc. are welcomed since currently I have no idea what extra information would be necessary in these scenarios.😅

[2017-02-16 08:26] seagle0128 commented on #11
The feature is similar as what's doing in Helm. It's useful but I am not sure if it will bring negative impact to ivy. Ivy is clean, simple and fast. Anyway let's move forward if I have some time on research this.

[2017-02-16 15:43] seagle0128 commented on #11
Hello, I found the simple way to apply ivy-rich to counsel-projectile. I believe it's similar for projectile.

[code]
But there is a new issue here. If I align the virtual buffers as below,
[code]
I got the exception while using `counsel-projectile` command. Any idea?

[code]

[2017-02-18 12:41] Yevgnen commented on #11
The `switch buffer transformer` is not suitable for `counsel-projectile` since there's no virtual buffer in `counsel-projectile`. I also use `ivy-rich` in `counsel-projectile-switch-to-buffer` since it has a similar interface with `ivy-switch-buffer`.

There should be `ivy-rich-file` for file type commands like `counsel-find-file`or `counsel-projectile` but currently I have no idea about that.

[2017-02-18 14:11] seagle0128 commented on #11
Okay. Thanks for your reply! I will close it for now.

[2017-02-18 14:11] #11 closed

[2017-04-13 03:07] madand commented on #10
To make long buffer names/paths not wrap (in terminal) or visually skew otherwise nice looking columns, I use modified version of `ivy-rich-switch-buffer-pad` that truncates inputs that are too long:

[code]

[2017-07-14 18:35] emacswatcher opened #14 "With ivy-rich, ivy-switch-buffer crashes when there is a buffer created via browse-url-emacs"
To recreate:
M-x browse-url-emacs RET https://raw.githubusercontent.com/Yevgnen/ivy-rich/master/ivy-rich.el
then, with ivy-rich loaded, invoke ivy-switch-buffer

The command completes without any onscreen effects with the following message:

file-truename: Apparent cycle of symbolic links for https:

Ivy-switch-buffer works for this example without ivy-rich loaded.

[2017-07-16 18:59] ambihelical commented on #8
I also have this problem, but I can reproduce it.  The problem starts after I open a deft buffer at /home/work/Dropfile/Notes which is outside of my current projectile project which is at /home/work/dev/dotfiles.

 Here is a partial backtrace:

Debugger entered--Lisp error: (args-out-of-range "/home/work/Dropbox/Notes" 25 nil)
  substring-no-properties("/home/work/Dropbox/Notes" 25)
  ivy-rich-swi

[2017-07-16 19:10] ambihelical commented on #8
My versions, if needed:
ivy-20170703.2350
ivy-rich-20170517.554

[2017-07-17 00:55] Yevgnen commented on #14
Hi, I can confirm this issue. I will fix it as soon as possible.

[2017-07-17 02:39] Yevgnen commented on #14
It should work now, please wait for the elpa update and let me know if there's any problem :)

[2017-07-18 20:35] emacswatcher commented on #14
Thanks for the quick fix.

Closing for all the right reasons.

[2017-07-18 20:35] #14 closed

[2017-10-23 17:20] amosbird opened #15 "How can I make ivy-rich always show the full path of a file buffer"
I've set ` '(ivy-rich-abbreviate-paths nil)` but it doesn't do what I need.

![image](https://user-images.githubusercontent.com/5085485/31903065-99ba9c86-b7ec-11e7-922e-227b50ee9635.png)

[2017-10-24 01:48] Yevgnen commented on #15
Hi, by full path, do you mean absolute path? Currently it shows the path relative to the project root, but I am glad to add the absolute path option later though it's a bit long for me.😆

[2017-10-24 09:10] amosbird commented on #15
Ah, OK.

[2017-10-29 17:23] tmdmelo opened #16 "broken ivy-avy"
`ivy-avy` doesn't work as expected with `ivy-rich`. It opens a buffer named as the whole line content instead of the expected buffer. For example, trying to open the `*scratch*` buffer would instead open a buffer named like `*scratch*                         1.1k    Lisp Interaction               /home/user/`.

To reproduce (assuming package `avy` is installed):
- `M-x ivy-switch-buffer RET`
- `C-

[2017-10-30 01:31] Yevgnen commented on #16
Sorry for late reply. I can reproduce it. I don't know about `ivy-avy` before. 😓 I'll take a look into it later.

[2017-10-30 09:39] tmdmelo commented on #16
No worries. My PR abo-abo/swiper#1256 has been accepted. This issue is fixed as of abo-abo/swiper@1a33da4be117f5a6757ec94c42996979249373d7. I just thought it would be relevant to document it here too.

[2017-10-31 08:58] #16 closed

[2017-11-07 09:26] Yevgnen commented on #15
Hi, sorry for late reply. You can now set `ivy-rich-path-style` to `'full` or `'absolute` to have absolute path displaying. There may take some time for elpa to update.

[2017-12-01 03:18] amosbird commented on #10
@madand Hi, this doesn't work if emacs window's width is small. I get

[code]

[2017-12-01 03:25] amosbird commented on #15
Thanks!

[2017-12-01 03:25] #15 closed

[2017-12-06 02:19] Boruch-Baum opened #18 "ivy-lv-display"
Hi. The developer of ivy,@abo-abo, mentioned you in a comment on a pull request that I made today, but he didn't use the '@' feature so I thought I would bring the feature to your attention.

https://github.com/Boruch-Baum/swiper
https://github.com/abo-abo/swiper/pull/1346

Screenshots:
https://github.com/Boruch-Baum/swiper/raw/master/ivy-lv-display-1.png
https://github.com/Boruch-Baum/swiper/raw/

[2017-12-06 02:23] Yevgnen commented on #18
🙂No worries. Currently I'm facing a busy end of year and I'll take a look of that later.

[2018-01-09 18:41] jwiegley opened #23 "Slowdown when using Tramp"
I've found that if I have several files open via Tramp, `ivy-rich` slows down considerably, taking up to 10 seconds sometimes to show a buffer selection prompt. I wonder if there's a way to not query for certain details when the path is a remote one? Other than that, love this mode!

[2018-01-10 01:56] Yevgnen commented on #23
Hi, that's a known issue due to some functions like `projectile-project-root` does not work quite well under `tramp`. I'm also facing this when opening some files in a remote server though in a local server it's fast enough. I'll add an custom option to this later!

[2018-01-10 03:35] Yevgnen commented on #23
I've added a flag `ivy-rich-parse-remote-buffer` to toggle the parse for remote files. Please wait for elpa update and check :)

[2018-01-29 18:45] jwiegley commented on #23
Thanks!

[2018-01-29 18:45] #23 closed

[2018-01-29 19:16] jwiegley commented on #23
@Yevgnen Note that for me, this causes the 4th column (pathname) to disappear for local files too.

[2018-01-30 04:52] Yevgnen commented on #23
@jwiegley Sorry. I made a stupid mistake. I've fixed this and it should be fixed in the next build.

[2018-01-30 05:22] jwiegley commented on #23
@Yevgnen Thanks!  I really like ivy-rich, btw. :)

[2018-02-13 12:16] DamienCassou opened #25 "Apparent cycle of symbolic links"
To reproduce:

1. `M-x browse-url-emacs RET https://nicolas.petton.fr` (or any other website)
2. `C-x b`

With ivy-rich: a message `Apparent cycle of symbolic links` appears
Without ivy-rich: `C-x b` displays a list of buffers with ivy

[2018-02-13 12:57] DamienCassou commented on #25
This is due to `default-directory` being `https://` and `ivy-rich-switch-buffer-path` calling `file-truename` on that.

[2018-02-13 12:58] DamienCassou commented on #25
I reported the problem upstream: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=30444. It would still be good to have a workaround in ivy-rich as the current behavior is to prevent the user from switching buffers (very annoying :-)).

[2018-02-26 01:54] Yevgnen commented on #25
Hi,

Sorry for the late reply. We are having a busy new year here.

Thanks for reporting this here and upstream. I made a dirty fix to this and the next ELPA update should work now.

[2018-02-26 12:51] DamienCassou commented on #25
Yevgnen <notifications@github.com> writes:

thank you very much

--
Damien Cassou
http://damiencassou.seasidehosting.st

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2018-03-13 21:37] yangsheng6810 opened #26 "Buffer name and path are not truncated correctly"
When buffer name is too long, it takes more space than indicated by `ivy-rich-switch-buffer-name-max-length`, as shown in the following picture:
![normal_buffer](https://user-images.githubusercontent.com/2863729/37370519-d570bc14-26e2-11e8-8090-9d5b2b3ca620.png)
Problem comes from function `ivy-rich-switch-buffer-pad`, which pads `str` to approprate length, but does nothing if it is longer than `l

[2018-03-15 02:12] Yevgnen commented on #26
Thanks. Should fixed in the next elpa update.

[2018-03-15 02:36] #26 closed

[2018-03-26 05:08] muirrn opened #27 ""ivy-modified-buffer" face used for all buffer names"
`ivy-rich-switch-buffer-buffer-name` seems to apply the `ivy-modified-buffer` face to all buffer names. That makes all the buffer names colored funny in themes that support the ivy faces (plus doesn't let you differentiate modified from not modified). An example theme is the `doom-nova` theme from the `doom-themes` package.

[2018-03-27 18:45] shobute opened #28 "Filter by major mode"
Great package, thank you!

I would like to filter the buffer list by, for example, the major mode. Helm lets you do this trivially by prefixing the pattern with a star (see: https://github.com/emacs-helm/helm/wiki/Buffers#buffers-by-major-mode). Is this possible with ivy-rich?

[2018-04-02 04:03] Yevgnen commented on #28
Hi, thanks for the kind words.

`ivy-rich` just provide a display transform to the origin candidates. In fact, if you input `emacs-lisp-mode` or something like that, you would get nothing since the origin candidates are buffer names. I think it would be a `ivy-switch-buffer` feature to have search by major-mode etc.

I currently don't know if it's possible to do this in a 'display transformer', bu

[2018-04-07 10:25] shobute commented on #28
Thank you! I guess one solution would be to have buffers automatically renamed to include their major mode, and then filter out the major mode part of the buffer name when displaying, but I feel like that could cause other issues and falls outside of the ivy-rich remit, so closing this issue. :)

[2018-04-07 10:25] #28 closed

[2018-06-05 08:01] tautologyclub opened #29 "Customizing the columns"
Hi,

Really cool package! I was wondering however, why isn't there an easier way to customize which columns get displayed? Basically I don't see myself caring about buffer size that much, and buffer type (or whatever it is, the column showing *&, !, *, etc) is a bit overkill for me too.

There's no defcustom for this, but I wouldn't mind hacking it by overriding some defun if that's what it takes.

[2018-06-05 08:08] Yevgnen commented on #29
Hi, thanks for the kind words. Column customization is on the plan, but not right now though...I'll work on it as soon as possible.

[2018-06-13 12:37] seagle0128 opened #30 "Error: Args out of range"
If the window is small, I got this error. Please take a look at this issue. Thanks.

[code]

[2018-06-22 02:20] #30 closed

[2018-06-26 04:18] seagle0128 opened #32 "[Feature Request] Show descriptions of command"
It's useful to show descriptions while using `counsel-M-x`. The feature should be like this:

![screenshot at 2018-06-26 12-15-31](https://user-images.githubusercontent.com/140797/41888980-b761c65a-793a-11e8-8ffd-f2f51435c0e0.png)

Reference: https://github.com/casouri/ivy-filthy-rich.

[2018-06-26 04:18] seagle0128 commented on #29
Vote it. Add it's better customize faces as well.

[2018-06-30 08:53] Yevgnen commented on #23
I'll try to find a better way to handling this, thanks for the feedback.
On Sat, Jun 30, 2018 at 16:27 yangsheng6810 <notifications@github.com>
wrote:

[2018-07-03 02:14] Yevgnen commented on #32
Seems pretty nice. I'll work on it soon!

[2018-07-03 03:29] seagle0128 commented on #32
Thanks. I also suggest to add a minor mode to enable/disable easily.

[2018-07-04 03:59] #7 closed

[2018-07-04 04:00] Yevgnen commented on #32
@seagle0128 The minor mode is coming with the next elpa build. Let me know if you find any problem!

[2018-07-04 09:00] seagle0128 commented on #32
@Yevgnen I tried the `ivy-rich-mode`, and it works well. But I think you should add `###autoload` to it, right?

And I summary the requirements here.
1. Show commands descriptions in `counsel-M-x`.
1. Show commands shortcuts in `counsel-M-x` as the original transformer.
1. Customize faces. The buffer names are too dark in some themes, e.g. `doom-molokai`.

![screenshot at 2018-07-04 16-58-25](http

[2018-07-04 11:04] Yevgnen commented on #32
Oh, my bad.

I am thinking about the customization for displaying columns. As long as
it’s done, it should be easy to achieve the requirements.

On Wed, Jul 4, 2018 at 17:00 Vincent Zhang <notifications@github.com> wrote:

[2018-07-04 11:32] seagle0128 commented on #32
Seems I spoke to soon. The minor mode has one issue here. `disable ivy rich` doesn't work...

[2018-07-04 21:19] kidd opened #33 "[offtopic] what's the color-theme of the screenshot?"
A bit offtopic. The colorscheme in the screenshot looks amazing!
Would you share the name of it?

Thanks!

[2018-07-04 22:54] Yevgnen commented on #33
It's leuven. I recently found it amazing too!

[2018-07-04 23:52] kidd commented on #33
thanks!!!

[2018-07-04 23:52] #33 closed

[2018-07-05 01:31] Yevgnen commented on #32
Do you mean `(ivy-rich-mode -1)`? It should restore the original display transformer before enabling the minor mode, but not necessary be `ivy-switch-buffer-transformer` for `ivy-switch-buffer`.

[2018-07-05 03:10] seagle0128 commented on #32
I recorded the screen for reference.

![peek 2018-07-05 11-09](https://user-images.githubusercontent.com/140797/42300634-fe1ebd40-8043-11e8-8205-7d90ce77a8d2.gif)

[2018-07-05 09:40] Yevgnen commented on #32
Strange. Can you please check `ivy-rich--original-display-transformers-list` and `ivy--display-transformers-list` before and after enabling or disabling the minor mode?

Also there's a test branch `customize` implements the features you requested. Note that some function like supports for virtual buffers are current disabled. You can currently see the doc string of `ivy-rich--display-transformers-

[2018-07-05 13:30] seagle0128 commented on #32
I checked the variables before and after enabling/disabling.

Enable:
[code]

Disable:
[code]

![ivy-rich](https://user-images.githubusercontent.com/140797/42326079-ad4a1746-809a-11e8-95a0-7c773010d0b3.gif)

[2018-07-06 01:15] Yevgnen commented on #32
The `ivy-rich--original-display-transformers-list` is a bit strange since it has `ivy-*rich*-switch-buffer-transformer` for `ivy-switch-buffer`. Did you forget to remove `(ivy-set-display-transformer 'ivy-switch-buffer 'ivy-rich-switch-buffer-transformer)` somewhere before enabling the minor mode?

Since disabling the minor will only restore the transformer to what it was before enabling the minor

[2018-07-06 01:18] Yevgnen commented on #32
By the way, the testing branch with customizable columns for transformers looks like e.g. for `counsel-M-x`

<img width="752" alt="screen shot 2018-07-06 at 9 17 00 am" src="https://user-images.githubusercontent.com/16749790/42355028-64a0dd1e-80fd-11e8-8a66-b265733f50c8.png">

[2018-07-06 03:03] Yevgnen commented on #29
@tautologyclub You can test the customizable version in `customize` branch now. Feedback is welcomed.

[2018-07-06 05:05] seagle0128 commented on #32
@Yevgnen The screenshot looks great! That's what's expected.

Regarding `ivy-rich--original-display-transformers-list`, I am thinking if it's related to `desktop-mode` or something else. I will do some tests as well.

[2018-07-06 10:39] tautologyclub opened #34 "counsel-switch-buffer errors out when frame is not wide enough"
This is really a quite small grievance, but I thought I'd report it anyway.

When you have a very thin frame, you can't switch buffers. The following error is observed

    ivy-rich-switch-buffer-path: Args out of range: "/etc/", 0, -11 [2 times]

[2018-07-06 13:12] seagle0128 commented on #32
I fixed this issue, I think. Perhaps the hook brought some side-effects, with other ivy configuration?
Anyway, `ivy-rich-mode` works fine.

I changed
[code]
to
[code]

[2018-07-06 20:42] bymoz089 opened #35 "problem: defer loading of ivy-rich with use-package"
I'm testing the current customize tree.
I try to defer loading of `ivy-rich` with help of `use-package`.
*Note* that in my config `ivy`, `counsel`, `swiper` and `amx` are also deferred via use-package and will only be initialized on key press (like `M-x` for `counsel-M-x` or `C-s` for `swiper`)

    (use-package ivy-rich
    	:after (counsel)
    	:config
     	(setq ivy-rich--original-display-tra

[2018-07-07 20:01] casouri opened #36 "Discussion about merging the two project?"
I just saw your new branch, and it’s pretty cool! I’d happy to merge my project to yours if we can agree on the code. I haven’t investigate every line but already have some idea based on your README. :smile:

[2018-07-07 23:13] Yevgnen commented on #36
Thanks! We can talk about it tomorrow since my Mac is currently not here
right now.

On Sun, Jul 8, 2018 at 04:01 Yuan Fu <notifications@github.com> wrote:

[2018-07-08 06:58] casouri commented on #36
Your update is quite complete and I don't think I can add too much to it, except this:

ensure that the candidate always have enough space

<img width="877" alt="screen shot 2018-07-08 at 2 53 51 pm" src="https://user-images.githubusercontent.com/13118647/42417523-019b0244-82bf-11e8-9102-bb5d67585006.png">

Here you can see that candidate "sssssssssssssssssssssssssssssssssssssssssssss" took space

[2018-07-08 14:07] seagle0128 commented on #32
I've been tested `customization` branch for 2 days. It's working fine .

[2018-07-09 01:21] Yevgnen commented on #32
@seagle0128 Thanks for the feedback!

[2018-07-09 01:31] Yevgnen commented on #35
Hi, in the testing branch, loading `ivy-rich` will load the required packages if the related commands are defined in `ivy-rich--display-transformers-list`. Otherwise, the transformer will be overwritten by default after the package is loaded.

You don't need to set `ivy-rich-mode` to `t`. Using `(ivy-rich-mode 1)` will set it automatically. Since you enabling the minor mode twice, `ivy-rich--origi

[2018-07-09 01:47] Yevgnen commented on #36
Thanks for the details. I'll take a look the implementation details of `ivy-filthy-rich` later.

The candidate width issue is a bit annoying. In the older version of `ivy-rich`, long path like `/aaaaaaa/bbbbbbb/ccccccc/ddddddd/eeeeeee/fffffff/ggggggg.el` that will be shorten into `/aaaaaaa/.../ggggggg.el`. However, in the  `customize` branch, the max width and the column format function (which onl

[2018-07-09 01:49] Yevgnen commented on #36
Also, thanks for mentioning `ivy-rich` in `ivy-filthy-rich`.

[2018-07-09 03:00] casouri commented on #36
What about the max width and format function?

About width issue, to just provide some ideas, in my implementation I use "info-function"s to provide information. For example, `ivy-filthy-rich--get-path` returns the path of the buffer. However, those functions don't return a string, they return **a list of strings**, ranging from longest to shortest.

My transformer will then first try to fit the l

[2018-07-09 04:18] Yevgnen commented on #36
Transforming a candidate to a list of candidate string for a transform function seems a bit complicate for users... 😅

I like the idea of `ivy-filthy-rich--concat-entry-sequence` which allow column overwriting. My original thought is to always shorten/trim every value using `...` from the right once they are longer than the max width defined in `ivy-rich--display-transformers-list`. Maybe we can p

[2018-07-09 04:34] casouri commented on #36
How about making `The file path format function` always return the full path and let the transformer truncate the path on the fly? I'm sure the truncate function knows the required length at that time.

[2018-07-09 06:07] seagle0128 commented on #32
@Yevgnen Welcome! It's really cool and I'm eager getting from MEPLA. Thank you!

[2018-07-09 08:22] Yevgnen commented on #36
I agree with that.

Another issue is that, some ivy commands are from `swiper`, or `counsel` or even `counsel-projectile` or other `xxx` packages. If the minor mode set custom transformers before loading these commands, they may be overwritten when the corresponding package is loaded. Do you have any idea on this? Currently enabling `ivy-rich-mode` will force to load `counsel`.

[2018-07-10 01:30] casouri commented on #36
I can think of two ways:

1. advice `ivy-set-display-transformer` and filter the transformers. Most packages should follow the rule and use this function. However, if the package modifies `ivy--display-transformers-list` instead, the advice wouldn't work.

2. In that case, we can add a function to the specific minor-mode's hook and override the change.

[2018-07-10 16:47] seagle0128 commented on #32
@Yevgnen I found an issue for `customize` branch. Please take a look.

`C-h v` for this function:
[code]
I got this exception:
[code]

[2018-07-11 01:20] Yevgnen commented on #32
@seagle0128 I can confirm this. The signature of `defvar-local` is `(defvar-local VAR VAL &optional DOCSTRING)`. I think this definition place the docstring into the wrong position?

[code]

[2018-07-11 06:33] seagle0128 commented on #32
@Yevgnen My bad... Sorry for that.

[2018-07-12 01:00] Yevgnen commented on #32
@seagle0128 Never mind!

[2018-07-14 04:13] emacsomancer opened #37 "use with all-the-icons-ivy?"
Is there any way of using this package with [all-the-icons-ivy](https://github.com/asok/all-the-icons-ivy)?

[2018-07-15 03:54] Yevgnen commented on #37
Hi, I think it should be pretty easy to define custom columns if you are using the [customize](https://github.com/Yevgnen/ivy-rich/tree/customize) branch though currently I haven't merged it. You can simply define a column function (which receive the candidate as argument and should return a transformed string)

[code]

and add it to the transformer settings like

[code]

It looks like
<img width=

[2018-07-15 03:56] Yevgnen commented on #35
Hi,

`ivy-rich--original-display-transformers-list` should be `nil` before enabling the minor mode. I guess the minor mode is enabled somewhere twice?

[2018-07-15 06:49] seagle0128 commented on #32
@Yevgnen I think `ivy-rich` is stable enough to merge the master branch. Your opinion?

[2018-07-15 20:25] bymoz089 opened #38 "customize-branch: counsel-bookmark fails on bookmarked help buffers"
ivy-rich produces an error when help buffers are bookmarked, because those bookmarks have no `filename` entry in the plist.

Example:
  - Open a help buffer
  - bookmark the help buffer with `M-x bookmark-set`
  - enable ivy-rich-mode
  - call `M-x counsel-bookmark` to open a bookmark
This results in an error, because such bookmarks have no `filename` property.

Following code fixes this:

[code]

[2018-07-15 21:20] bymoz089 commented on #35
Without setting `ivy-rich--original-display-transformers-list` myself: the line `(ivy-rich-mode 1)` enables `ivy-rich`. \\
The value of `ivy-rich-mode` is then true, but `ivy-rich` is not properly initialized. Doing `M-x ivy-rich-mode` twice (first disable then enable) fixes this.

`ivy-rich` is nowhere else mentioned in my init.el and I can't see an error within this `use-package` configuration o

[2018-07-25 09:08] wbolster commented on #7
thanks!

[2018-08-14 14:28] seagle0128 commented on #32
Gental ping...

[2018-08-27 17:36] rnadler opened #39 "ivy-rich-20180827.656: Error on switch buffer"
The latest melpa update causes the following error on `C-x b`:
(Paths removed)
[code]
Using:
- emacs **26.1**
- **ivy-20180822.1824**

[2018-08-28 03:37] #29 closed

[2018-08-28 03:37] Yevgnen commented on #32
Merged now~

[2018-08-28 03:37] #32 closed

[2018-08-28 16:13] rnadler commented on #39
Thanks @Yevgnen! Didn't notice the configuration change. This issue can be closed.

[2018-08-29 01:26] #39 closed

[2018-08-29 09:03] bmag commented on #39
Hey @Yevgnen, which commit is version 0.1.0? I couldn't find any actual git tag.

Also, could you help me fix the configuration for Spacemacs? What we have is roughly this:
[code]
If I understand correctly, we need to change it to:
[code]
Is that right?

[2018-08-29 09:15] Yevgnen commented on #39
@bmag

Hi, version `0.1.0` is now on `master` now, which should be `ivy-rich-20180827.656` in elpa.

[code]

Note that, virtual buffer support is currently removed as stated [here](https://github.com/Yevgnen/ivy-rich#3-important-changes). So I've removed the corresponding config.

I'm not familiar with spacemacs. But be careful you need to enable `ivy-rich-mode` *after* `ivy` and `counsel` are loa

[2018-08-29 10:16] bmag commented on #39
Thanks for the help, I settled for something equivalent to:
[code]

Would you consider tagging a commit as version 0.1.0? You can tag a commit with `git tag` or by publishing a release via GitHub interface. It will both help users find version 0.1.0 and it will be available at melpa-stable repo.

[2018-09-06 20:40] Guilz commented on #35
With the following `use-package` directive and the current `melpa-stable` version of `ivy-rich`:

[code]

I get the following error when trying to use `C-x b`: `mapcar: Symbol’s function definition is void: ivy-rich-switch-buffer-transformer`.

Interactively turning off and back on `ivy-rich-mode` (with `M-x`) solves the problem, but it's not convenient at all.

Any chance this can be fixed soon?

[2018-09-07 01:36] Yevgnen commented on #35
@Guilz Hi, `ivy-rich-switch-buffer-transformer` is deprecated since version `0.1.0`. Also you don't need to set the display transformer manually, just do `(ivy-rich-mode 1)`.

You should change your config to

[code]

[2018-09-07 03:46] Guilz commented on #35
Thank you for this explanation, it works just fine now. I guess I should read release notes...

[2018-09-30 14:07] finalpatch opened #41 "`ivy-rich-normailze-width` may fail when the input string contains double width chars"
to reproduce:
[code]
fix:
replace the line
`(format "%s…" (substring str 0 (- len (string-width "…")))))`
with
`(truncate-string-to-width str len 0 nil "…"))`

[2018-10-01 11:43] Yevgnen commented on #41
Thanks for reporting. I don't even know this function!

[2018-11-18 21:51] diamond-lizard opened #43 "Feature request: Omit filename from output of ivy-rich-switch-buffer-shorten-path"
Since the filename is already being reported by `ivy-switch-buffer` in the `candidate` column, the filename that is returned as part of the results of `ivy-rich-switch-buffer-shorten-path` is redundant, and it would be more useful to see some part of the rest of the path instead.

Below is a screenshot of `ivy-switch-buffer` where the left-most column is showing the `candidate` and the right-most

[2018-11-26 18:30] seagle0128 opened #44 "Should ignore :advice info"
Hi,

If adding advice for a function, the first line is the advice information, I think it's should be trim and find the actual first line in the comments. Your opinion?

![image](https://user-images.githubusercontent.com/140797/49034259-5eceff00-f1ec-11e8-862d-7e4a12abbf75.png)

[2018-12-04 13:09] Yevgnen commented on #44
Sorry for late reply. Thanks for reporting. Should fixed in next build.

[2018-12-04 14:15] Yevgnen commented on #43
Sorry for late reply. I totally agree.

A quick workaround would be changing `ivy-rich-switch-buffer-path` to

[code]

which display parent directory instead. How do you think about it? Suggestions are welcome.

[2018-12-04 15:05] seagle0128 commented on #44
Thanks for fixing it!

[2018-12-04 15:05] #44 closed

[2018-12-05 01:07] Yevgnen commented on #43
That's quite strange. Since all columns use padding scheme, and it should happen to all columns. What's package are you using to highlight trailing whitespace ?

[2018-12-05 01:21] Yevgnen commented on #43
You may try something like

[code]

[2018-12-05 11:49] diamond-lizard commented on #43
Thank you.  That worked.

[2018-12-05 11:49] #43 closed

[2018-12-07 01:52] Yevgnen commented on #43
I'll push the snippet to master, you need not modify `ivy-rich-switch-buffer-path` by yourself after this update.

[2018-12-19 13:57] noctuid opened #45 "ivy-rich--display-transformers-list naming is confusing"
Since `ivy-rich--display-transformers-list` is defined with `defcustom` and is meant to be customized by the user (based on documentation), it should not be marked as an internal variable with `--`. I think it would make sense to rename it to `ivy-rich-display-transformers-list` to avoid confusion and then use `define-obsolete-variable-alias` to keep the package working with the old variable.

[2018-12-19 14:04] Yevgnen commented on #45
Great point! I will make a patch soon! Thank you!

On Wed, Dec 19, 2018 at 21:57 Fox Kiester <notifications@github.com> wrote:

[2018-12-25 17:27] dakra opened #46 "Use buffer-local-value instead of with-current-buffer"
Just saw [this link](https://github.com/alphapapa/emacs-package-dev-handbook#best-practices).
As `ivy-rich` uses a lot of `with-current-buffer` and speed for ivy
is important, maybe it's a good idea to switch whenever possible to `buffer-local-value`?

[2018-12-26 02:49] Yevgnen commented on #46
Hi, thanks for the link. I will look into it later. Though currently most speed issue of `ivy-rich` come from `projectile`, setting `projectile-project-root-files-functions` could give huge speed up.

[2018-12-28 01:41] Yevgnen commented on #46
Hi, it seems that quite a bit place can be switched to `buffer-local-value`. Do you known whether it's possible to perform the same trick when executing functions?

[2018-12-29 13:31] dakra commented on #46
Sorry, don't know. i would guess not but I have no idea and didn't research it.

[2019-01-06 19:36] seagle0128 commented on #23
Sorry for comment here.
I am also experiencing the same issue, even set `ivy-rich-parse-remote-buffer` to nil.

[2019-01-09 01:05] Yevgnen commented on #23
@seagle0128 Does the issue exist if you remove the columns related to `projectile` and `tramp`? It maybe due the project root look up in `projectile`. Currently known possible solution includes setting projectile cache, modifying `projectile-project-root-files-functions`, or replace `projectile` with some other systems like `project.el` or `ffip`. I tried `project.el` just now, it was slower thoug

[2019-01-09 18:39] seagle0128 commented on #23
@Yevgnen RIght! It's because of `projectile` calls. I did profile successfully today and attached below. I don't think `project` helps a lot. It's deserved to try changing `projectile-project-root-files-functions`.

![image](https://user-images.githubusercontent.com/140797/50920075-676b5400-147f-11e9-80cb-eaf5e31504f8.png)

[2019-01-09 18:40] seagle0128 opened #47 "Slow with tramp"
It's slow to switching buffers while using tramp, even set `ivy-rich-parse-remote-buffer` to nil.

Refer to https://github.com/Yevgnen/ivy-rich/issues/23

![emacs](https://user-images.githubusercontent.com/140797/50740733-d6ea0500-122d-11e9-9783-bf9f90f4f355.gif)

![image](https://user-images.githubusercontent.com/140797/50920075-676b5400-147f-11e9-80cb-eaf5e31504f8.png)

[2019-01-10 07:41] seagle0128 commented on #23
`file-true-name` has bad performance, especially for the remote files. It's much faster to handle local files.  In `doom-modeline`, I converted all remote files path to the local path, and add hostname later.

[2019-01-12 08:17] Yevgnen commented on #47
Hi, thanks for the information in #23. I've tried to minimize the usages of `file-truename` in a new branch `optimize`. At least it should work with `ivy-rich-parse-remote-buffer` setting to `nil`... Maybe it's buggy, could you please help me test it if you have time? Thanks.

[2019-01-19 01:03] Yevgnen commented on #47
I've merged it to master.

[2019-01-25 19:23] yuezhu commented on #47
I'm having the same issue as well. Both `ivy-rich-parse-remote-buffer` and `ivy-rich-parse-remote-file-path` are setting to `nil`. Even with that when switching buffers with a tramp buffers being opened, there is an obvious lag/slowdown that can be observed, while that does not happen without a tramp buffer.

My `ivy-rich` configuration is basic (I'm using `use-package`):

In `init.el`
[code]

In

[2019-01-25 23:17] Yevgnen commented on #47
Have you tried the latest master version?
On Sat, Jan 26, 2019 at 03:23 Yue Zhu <notifications@github.com> wrote:

[2019-03-01 20:07] kurnevsky opened #49 "Fuzzy match matches helper messages"
See the screenshot where the matching for 't' and 's' letters is displayed (with `ivy--regex-fuzzy`):

![screenshot-2019-03-01-23 04 38](https://user-images.githubusercontent.com/2943605/53663310-5b209d80-3c5d-11e9-9f4e-5be1f6751c09.png)

[2019-03-05 07:42] seagle0128 commented on #47
It's much better than before. I am closing it.

[2019-03-05 07:42] #47 closed

[2019-03-05 07:50] seagle0128 opened #50 "Error while executing counsel-describe-function with ivy-rich"
- GNU Emacs 26.1
- macOS Mojave
- ivy-rich-20181210.845
- Configuretions: https://github.com/seagle0128/.emacs.d/blob/24144fa4d28eabd441a18dcb2a97a2d5b46a3fd8/lisp/init-ivy.el#L155

[code]

[2019-03-05 07:53] Yevgnen commented on #50
Hi, where can I find this function `doom-modeline-refresh-frame`? I can only find `doom-modeline-refresh-bars` in `doom-modeline`.

[2019-03-05 07:58] seagle0128 commented on #50
FYI, it's not defined in 26.1+.

[2019-03-05 08:10] Yevgnen commented on #50
Does it exist in emacs 26.1? I see your emacs is emacs 26.1 and the function is not defined in 26.1.

[2019-03-05 08:24] seagle0128 commented on #50
Yes, the cods check if `after-focus-change-function` exists and decides to define `doom-modeline-refresh-frame` or not. But I think it should not impact the `counsel-describe-function` behaviors.

[code]

[2019-03-05 08:28] Yevgnen commented on #50
Can you describe steps of reproducing this? You're using emacs 26.1, and `doom-modeline-refresh-frame` should be not defined. If you enter `doom-modeline-refresh-frame` in `counsel-describe-function`, there should be no candidates.

[2019-03-05 08:32] seagle0128 commented on #50
The step is very simple. Move the cursor to `doom-modeline-refresh-frame`, and `C-h f` or `M-x counsel-describe-function`, then get this error.

[2019-03-05 08:41] Yevgnen commented on #50
I test this in `Centaur Emacs` and can't reproduce this. If the function is not define in emacs 26.1, when `counsel-describe-function`, the symbol should not be grabbed by emacs. Even inputing the symbol manually, I can not reproduce this.

Maybe you can try the master version, the elpa version has not been updated for serval months for unknown reasons.

![i](https://user-images.githubusercontent.

[2019-03-05 09:03] seagle0128 commented on #50
OK. You mean `melpa` builds system doesn't work? I think you can file an issue on https://github.com/melpa/melpa. I encountered the similar issue a few months ago. They fixed and all run well now.

[2019-03-05 09:08] seagle0128 commented on #50
Update: I restart Emacs and no errors now. I don't know why the error occurred honestly. I am closing it  now and keep testing.

[2019-03-05 09:08] #50 closed

[2019-03-05 10:01] Yevgnen commented on #50
Glad the issue is gone. Thanks for your information about `melpa`.

[2019-03-15 18:20] kurnevsky commented on #49
Can be fixed with a dirty hack:

[code]

[2019-03-16 02:12] Yevgnen commented on #49
Sorry for late reply and I currently can not find a elegant fix to this...

[2019-03-16 13:07] kurnevsky commented on #49
Reported to ivy repo because it happens with counsel as well: https://github.com/abo-abo/swiper/issues/1969

[2019-03-16 20:33] dsvensson commented on #37
It's however an issue with placing the icon column first if the icons don't have the same width. I think it might be possible to do something like the Fira Code ligatures, but I haven't been able to create the correct return value for a variant of your ivy-rich-switch-buffer-icon. Here's how the prettify-symbols-stuff works:

[code]

So it pads with prefix/suffix to make the replacement UTF-8 symb

[2019-03-22 14:31] bymoz089 opened #53 "ivy-rich--switch-buffer-root-and-filename is broken (report with probable fix)"
function `ivy-rich--switch-buffer-root-and-filename` is broken. It returns always `nil` if the file is not part of a buffer.

How to reproduce: open a file like "/tmp/foo.txt" and then switch buffers with `ivy-switch-buffer`, while `ivy-rich` is activated. You will see, that there is no path listed at candidate `foo.txt`.

Folowing code is a try to fix this function:

[code]

[2019-03-22 14:55] bymoz089 commented on #38
It looks fixed in master branch ...

[2019-03-22 14:55] #38 closed

[2019-03-28 15:05] Ergus commented on #47
I have observed a very slow responsiveness when using ivy-switch-buffer + tramp + ivy-rich.
When opening one file it is fine, but with 2 or more remote files open it freezes and produces very long pauses (2-4 seconds) for a simple ivy-next-line.

I ran a profile (just C-x b and some C-n or C-p ) and the output was as you can see in the image:

![Screenshot_2019-03-28_11-42-11](https://user-images.

[2019-03-28 15:15] seagle0128 commented on #47
It seems that `project-current` has bad performance sometimes.

[2019-03-29 01:36] Yevgnen commented on #47
@Ergus `project.el` seems pretty slow than `projectile` on my machine. Are you using the master version? Maybe you can try `(setq ivy-rich-parse-remote-buffer nil)` if you have a slow `tramp` connection?

[2019-03-29 07:52] Ergus commented on #47
@Yevgnen  my tramp connection is not properly slow, that's what made me add the issue. Any way, I use projectile and counsel-projectile actually, so is it there an option to tell ivy-rich to use projectile instead?

[2019-03-29 08:15] Yevgnen commented on #47
@Ergus `ivy-rich` should have tried `projectile` first [here](https://github.com/Yevgnen/ivy-rich/blob/master/ivy-rich.el#L323) if you've enabled `projectile-mode`. I'm not quite familiar with `projectile` but it seems that it used to have many performance issues before when reading into the issue list. So currently based on my poor experiences, I can no give any suggestion...

[2019-03-29 13:46] seagle0128 commented on #47
@Yevgnen I have some comments for the codes of finding the project root directory.

1. If failed to get project root or nil, should use `default-directory`.
1. It's very slow to get the project root sometimes. It's not necessary to get it very time. Since the project root is fixed after opening the file generally, it can be cached for better performance.

I did the similar optimization in `doom-mo

[2019-04-11 23:03] styx00 commented on #53
I have the same issue, I've tried your code but it shows only the last directory instead of the entire path. Additionally, I can't increase the width of the column which shows the major modes...any suggestions?

![Screenshot from 2019-04-12 02-01-48](https://user-images.githubusercontent.com/17887949/55998478-0eea6380-5cc7-11e9-8065-591779c33590.png)

[2019-04-15 01:30] #45 closed

[2019-04-15 01:37] Yevgnen commented on #53
Hi, sorry for the late reply. I'm not sure whether the original purpose of `ivy-rich--switch-buffer-root-and-filename` is to only work with `project.el` or `projectile.el`. Please give me some time to read the logs...

@styx00 About the columns widths, I personally prefer percentages like

[code]

[2019-05-12 19:46] emacsomancer opened #55 "icon associations for ivy-switch-buffer seem to differ from those for find-file"
For instance, the icon in `find-file` for `.tex` files is a stylised TeX, but having configured ivy-rich to use icons in ivy-switch-buffer it shows the Emacs icon rather than the TeX icon.

[2019-05-13 04:46] rgrinberg opened #56 "Consider removing project information by default"
The following field makes `ivy-rich` drastically slower:

[code]

While it's a useful field, it should not be in the default list of fields if it has such bad performance characteristics. Removing this field fixes all lag issues that I have with ivy-rich.

[2019-05-14 02:08] Yevgnen commented on #56
Hi, how many project buffers are you using when you feel slow? Are you working with `tramp`?

 I generally open about 300~500 buffers on my MacBook 2014 and don't feel any laggy though. The scrolling is still fluent enough in most (99.5% I think) cases.

![fdsa](https://user-images.githubusercontent.com/16749790/57665396-47ff5600-762e-11e9-88ae-8f05f660497d.gif)

(Note that the gif is missing fram

[2019-05-14 02:19] #35 closed

[2019-05-14 02:58] rgrinberg commented on #56
Hi, almost all the buffers you have opened seem to belong to a project. This is indeed the fast path for projectile.

I observe the slowness to be proportional to `number of buffers without projects * how nested are the paths on the file system`. When you have 50 such buffers open you will surely notice it. Go to `/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include` and open about 50 h

[2019-05-14 03:09] Yevgnen commented on #56
![fdsa](https://user-images.githubusercontent.com/16749790/57667978-43d83600-7638-11e9-8f38-dd1f6241ac27.gif)

With the default value of `projectile-project-root-files-functions`, it's a very little bit slower with 150 of such buffers, but still quite fast. But anyway, the idea

should help to improve performance.

[2019-05-14 03:17] rgrinberg commented on #56
I don't know to make a fancy, gif but here are my profiler results for a single call of `ivy-switch-bufffer` with around 50 buffers. For comparison, in my PR the cost projectile is barely registered by the profiler.

[code]

[2019-06-14 16:34] honmaple commented on #37
I found another way to work with `all-the-icon-ivy`, and it's simpler
[code]

[2019-06-27 08:34] dwrz opened #59 "ivy-format-function is obsolete"
The `README` recommends using:

[code]

However, this variable is obsolete since June 03, 2019.

Is there any other recommended configuration?

[2019-06-27 09:36] Yevgnen commented on #59
Try: `(setcdr (assq t ivy-format-functions-alist) #'ivy-format-function-line)` 🙃

[2019-06-27 09:42] #59 closed

[2019-07-03 00:07] dsvensson commented on #37
ah... `(ivy-rich-switch-buffer-delimiter "\t")` was what was missing.

[2019-07-04 00:48] jayhanjaelee opened #60 "[Feature request] search buffers by project name."
I want to search buffers by projectile project name. then It will be more productive for me.
Or It will be good to search it by filepath or other infomation ivy-rich gives like buffer mode

[2019-07-12 17:11] AmaiKinono opened #62 "`counsel-describe-function` does not work well with `ivy-display-function-lv`"
Hi. I use `ivy-display-function-lv` as shown in the swiper wiki:

[code]

When using ivy-rich, calling `counsel-describe-function` makes an error:

[code]

It works well with the default display function.

[2019-07-19 23:55] Yevgnen commented on #62
Sorry for late reply. Does it happen immediately after you call `counsel-describe-function`, or after you type something when invoking `counsel-describe-function`?

[2019-07-20 00:52] Yevgnen commented on #62
Well, it seems it's a bug in `ivy`, I test it in an `emacs -q` without `ivy-rich` and the issue still there.

[2019-07-20 01:00] Yevgnen commented on #55
Sorry for the super late reply. `ivy-rich` does not come with any icon settings. What's you config about this? Or can you provide a minimal test example?

[2019-07-20 08:22] AmaiKinono commented on #62
Yes, my fault. I'll close this issue and report it to the author.

[2019-07-20 08:22] #62 closed

[2019-07-28 04:03] JSDurand commented on #60
I think for now, the easiest way to do this is to use a custom function to complete buffers.
For example,
![Capture d’écran 2019-07-28 à 12 01 44](https://user-images.githubusercontent.com/13595506/62002055-7b328b00-b12f-11e9-9c3b-cff2f6480ca1.png)

(sorry I do not know a proper way to embed the codes, so I chose to post a photo.)

If you use the above function as the collection argument to `ivy-r

[2019-07-30 10:52] jayhanjaelee commented on #60
@JSDurand Can you copy and paste code wrapped with `?

[2019-07-31 03:15] JSDurand commented on #60
I found that wrapping the code with three back-ticks makes the code look a lot nicer.
[code]
This function might not be very thoughtful, so feel free to do what you like to it to fulfill your purposes. :)

[2019-07-31 04:41] jayhanjaelee commented on #60
Thanks

[2019-09-03 11:19] bymoz089 opened #63 "switch-buffer transformer breaks ivy-switch-view"
With `ivy` it is possible to store the current window layout, by using `ivy-push-view`.
After you have done that, it is possible to switch to previous stored layouts with `ivy-switch-buffer`.

Since the stored window layout has no real buffer associated, it is not possible to use constructs like `(with-current-buffer (get-buffer candidate) ...`. Those constructs will fail with an error message.

T

[2019-09-03 11:25] Yevgnen commented on #63
Hi, are you using the default value of `ivy-rich-display-transformers-list`? There's `     :predicate (lambda (cand) (get-buffer cand))` of the default value, which should ignore window layout candidates. I tested on my emacs, and everything seems fine. Can you provide some reproduce steps?

[2019-09-04 10:42] bymoz089 commented on #63
Thanks for the hint, and please excuse the false bug report..

I copied the `ivy-swith-buffer` transformer a long time ago to make adjustments to `:width`. It seems I missed the `:predicate` update later on.

[2019-09-04 10:42] #63 closed

[2019-10-21 04:45] dunkarooftop opened #67 "[Feature Request] counsel-bookmark support w3m file type"
https://i.imgur.com/vIyvY5B.jpg

right now it use a unknown font which look out of place. Thanks :)

[2019-10-23 04:28] Yevgnen commented on #67
Will fix it soon, please wait!

[2019-11-01 07:30] dunkarooftop commented on #67
[iosevka](https://github.com/be5invis/Iosevka) is the font. Thanks for the fix :)

[2019-11-03 03:01] #67 closed

[2019-11-22 13:43] publicimageltd opened #69 "Bookmark handler not recognized"
I have bookmarks with a custom handler. The property is well defined, it has a function symbol as its value. But if I call `counsel-bookmarks' with ivy-rich enabled, it displays the bookmark type "NOFILE." I expect, however, the first part of the symbol's name.

Here is the relevant configuration part:
[code]
It all works well expect that non-standard bookmarks are not handled well.
I think it has

[2019-11-28 00:10] Yevgnen commented on #69
It looks something weird of you `bookmark-alist`. The content of the bookmark should be

[code]

Note the parentheses surrounding after "notmuch: gestern".

[2019-11-28 07:54] publicimageltd commented on #69
Thanks for having a look at it. It's right, there was a layer of parentheses too much (even though jumping to these malformed records works perfectly, but that is probably another story). So I reconstructed a bookmark object with the format you suggested above, but no avail. It does not work with your example, either. See:
[code]

[2019-12-01 05:59] Yevgnen commented on #69
It took me some time to remind the old codes....😬

When you call `ivy-rich-bookmark-value`, you are expected to pass the original `ivy` candidate. In this case, it's `"notmuch: gestern"`. So

[code]

`ivy-rich-bookmark-type` uses this function to get the handler of the bookmark to format it into type info, i.e.

[code]

About your original post, `jv/ivy-rich-bookmark-name` seems trying to get the

[2019-12-01 12:14] publicimageltd commented on #69
Thanks, that's it! Using `ivy-rich-candidate` solves the problem. As to the file expansion, I redefined `ivy-rich-bookmark-info` so that it only expands the filename if it points to an existing file, which makes sense to me:
[code]
Works perfectly.

[2019-12-01 12:14] #69 closed

[2019-12-02 00:31] Yevgnen commented on #69
Glad that helped. I've pushed it to master just now, so you don't need to modify your own after you update it from ELPA.

[2019-12-26 15:00] ianpan870102 commented on #37
@Yevgnen  Minor typo: when adding the column `(ivy-rich-switch-buffer-icon :width 2)`, we should wrap the width attribute in parentheses, or else it wouldn't take effect:
[code]

[2019-12-26 15:04] ianpan870102 opened #70 "Minor typo"
In the README of the `customize` branch: When adding icons to switching buffers, the snippet `(ivy-rich-switch-buffer-icon :width 2)` should be `(ivy-rich-switch-buffer-icon (:width 2))` with the width attribute wrapped in parentheses, or else it wouldn't take effect.

[2019-12-27 17:17] ianpan870102 opened #71 "Error on switching buffer (when package-menu-mode is active)"
If I have \*Packages\* as an active buffer, Emacs throws `Error in post-command-hook (ivy--queue-exhibit): (wrong-type-argument stringp package-menu-mode)` immediately when I try to switch buffer
By kililing the \*Packages\* buffer, switching buffers work perfectly again.

Disabling ivy-rich will prevents this error altogether, therefore I suspect this is due to the way ivy-rich handles the docstr

[2020-01-01 03:41] Yevgnen commented on #70
Thanks!

[2020-01-01 03:41] #70 closed

[2020-01-01 03:44] Yevgnen commented on #71
It does not happen on my emacs 26.3. What's you emacs version and `ivy-rich` version. I notice that you maybe using the `customize` branch as you mentioned in another issue?

[2020-01-01 06:19] ianpan870102 commented on #71
I was just browsing through documentation of different branches but I did install the ivy-rich package from MELPA, so it's the master branch I believe.
I'm using Emacs 27.0.50 on macOS, and for the past two days, the issue seems to be gone. I will close this for now and perhaps reopen it if the problem resurfaces. Thanks for getting back!

[2020-01-01 06:19] #71 closed

[2020-01-10 06:09] ScottFreeCode opened #73 "switch-buffer broken on Melpa Stable"
Need to release a new tag so that #52 is published.

[2020-01-11 09:59] #46 closed

[2020-01-12 05:38] ScottFreeCode commented on #73
By the way, I forgot to mention this is one of the best packages I've found since I discovered which-key and ivy/counsel. I often no longer have to pull up help for functions as I'm searching through them, just to see a basic concept of what they do!

Thank you for making my Emacs experience that much better!

[2020-01-12 06:07] Yevgnen commented on #73
Hi, thanks for the kind words. I'm not sure what does 'so that #52 is published'... and how can I help?

[2020-01-19 05:12] ScottFreeCode commented on #73
The fix in pull request #52 prevents the ivy/counsel switch buffers commands from breaking due to the 'cl- prefix. It wasn't in version 0.1.4, but now that it's in 0.1.5 I can switch this package back to melpa-stable. Thanks!!

[2020-01-19 05:12] #73 closed

[2020-01-26 19:31] hmelman opened #74 "Possible typo 'whilte' in ivy-rich-counsel-function-docstring"
I'm guessing that `whilte` in `ivy-rich-counsel-function-docstring` should be `while`.

[2020-01-27 01:32] Yevgnen commented on #74
Thanks! Fixed now!

[2020-01-27 01:32] #74 closed

[2020-02-03 04:35] hisnawi commented on #37
I use counsel-projectile-switch-to-buffer and can't see the icons with the above code.
Any resolution on this?

[2020-02-05 21:56] MeltWS commented on #37
@hisnawi
Works for me with the above code.
![image](https://user-images.githubusercontent.com/15630634/73886879-b7773e80-486a-11ea-859c-011d28de78d2.png)
Havn't figured out the issue with the icon spacing yet.

[2020-02-06 12:09] cmacrae commented on #37
@MeltWS Would you mind sharing the configuration you've used to get your columns aligned nicely? :pray: I've used the expressions shared in the conversation thus far, but I'm getting some misalignment:
![image](https://user-images.githubusercontent.com/3392199/73935888-7e29e780-48d9-11ea-8cb9-3755d6cc86bd.png)

[2020-02-06 18:02] MeltWS commented on #37
@cmacrae
[code]
You need a delimiter ``"\t"`` for the icons to align properly and then you probably want to lower your tab width.

[2020-02-06 18:30] hisnawi commented on #37
I tried that setup and magit-diff icon don't show up anymore.

[2020-02-07 06:09] hisnawi commented on #37
It works now but counsel-find-file doesn't show icons any more "all-the-icons-ivy" is enabled!

[2020-02-07 06:15] hisnawi commented on #37
@cmacrae
With the "\t" delimiter the spacing between the icons and the file name became too big. I don't see your screen shot has this problem. How did you manage to have that with the same setup I copied from you?

[2020-02-07 23:07] MeltWS commented on #37
@hisnawi

For counsel you need to add settings with the correct transformer to ``ivy-rich--display-transformers-list``
You probably want ``counsel-projectile-find-file`` and ``counsel-projectile-switch-project`` it depends on what commands you use.

[2020-02-08 02:58] hisnawi commented on #37
@MeltWS How do I lower my tab width without affecting tab width when I program?
I just want it to affect the tabs in ivy-rich.
What is your setup in terms of tab width?

[2020-02-09 07:16] Yevgnen commented on #37
Something that is related ... [all-the-icons-ivy-rich](https://github.com/seagle0128/all-the-icons-ivy-rich)

[2020-02-10 00:10] hisnawi commented on #37
Interesting, can't find it on melpa.

[2020-02-13 15:22] atkpwn commented on #37
Hi!
If you use all-the-icons-ivy, I combine them with ivy-rich as follows:
[code]
This will make it add icons to all virtual buffers too. I am not sure if it is a good way to do it, though.

[2020-02-17 00:22] Yevgnen commented on #37
@hisnawi It's on Melpa now.

[2020-02-17 06:54] tam17aki commented on #53
I'm not a user of `projectile.el`. The following is an ad-hoc fix to show the path up to dirname.
In order to show the path, some lines are commented out.

[code]

[2020-02-26 17:28] gugutz opened #76 "ivy-rich only works if i deactivate and activate it again"
I read in the docs that after modifying ivy-rich--display-transformers-list to my liking, i had to call `ivy-rich-mode` again

So what i did was i made my customizations in the `:init` part of the `use-package` declaration, and called `ivy-rich-mode 1` in the `:config` part.

But still ivy-rich only really applies my modifications after i call it a second time after emacs starts.

Does anyone have

[2020-02-27 02:38] Yevgnen commented on #76
Here are my suggestions:

1. Update to the latest version of `ivy-rich`, and you should change `ivy-rich--display-transformers-list` to `ivy-rich-display-transformers-list` since the former has been deprecated.

2. Remove line `(setq ivy-rich--original-display-transformers-list nil)`.

3. If you have set `use-package-always-defer` to `t`, you will need to add `:demand t` to the `(use-package ivy-r

[2020-03-07 14:50] seagle0128 opened #77 "Dependency should be updated"
`ivy` requires 24.5, while `ivy-rich` requires 24.4. The header should be updated.

[2020-03-08 03:31] #77 closed

[2020-03-08 03:31] Yevgnen commented on #77
Thanks.

[2020-04-27 13:37] lmintmate opened #78 "ivy-switch-buffer-faces-alist isn't applied when ivy-rich is enabled"
Since at least yesterday (but might have been happening for a bit longer, I just noticed it then) the buffer names in `ivy-switch-buffer` aren't fontified according to the value of `ivy-switch-buffer-faces-alist`, but instead remain plain when ivy-rich is enabled. However, when ivy-rich and all related settings are disabled (e.g. via commenting out the relevant section of the init file) the buffer

[2020-04-27 14:18] Yevgnen commented on #78
Thanks for reporting! I will look into it as soon as I have time.

[2020-04-27 14:37] Yevgnen commented on #78
After a quick look at the `ivy` changes, it seems that `ivy` [moved](https://github.com/abo-abo/swiper/commit/38c90e89b46dd9c6c8cc4105934364137e131df9) its face applied logic into its original transformer, i.e. `ivy-switch-buffer-transofrmer`, while in the old days, faces were applied when constructing buffer list (outside `ivy-switch-buffer-transofrmer`). Since `ivy-rich` replaces its original tr

[2020-04-27 16:55] lmintmate commented on #78
I have various functions added to `ivy-rich-display-transformers-list` in my init file using `plist-put`, so I ended up adding the ivy-rich declaration for `ivy-switch-buffer` in my init, replacing `ivy-rich-candidate/identity` with `ivy-switch-buffer-transformer`, like so:
[code]
This fontified again the buffer names that are fontified by `ivy-switch-buffer-faces-alist` both in `ivy-switch-buffer

[2020-04-28 01:00] Yevgnen commented on #78
Looking into [here](https://github.com/abo-abo/swiper/blob/25b63213e4070dd6aa7e7860d3afdb570c90de7d/ivy.el#L4570), if you eval things like `(buffer-modified-p (get-buffer "*helpful macro: defun*"))`, it will return `t` and thus the helpful buffer will get a `ivy-modified-buffer` face. So your setting

[code]

has no effect. This is an upstream change, and even you disable `ivy-rich`, you won't get

[2020-04-28 06:07] lmintmate commented on #78
Thanks for this pointer. Just tried to check ivy-occur buffers too, and this type of buffer is also detected as "modified" - such a pity, as I really wanted to be able to make these less prominent in the buffer list. I could change the `ivy-modified-buffer` face (because as it turns out, it's just plain text in the theme I use), but since it's supposed to be for modified buffers in general (and th

[2020-04-28 06:07] #78 closed

[2020-04-28 06:18] Yevgnen commented on #78
You're welcome. You might want to implement you own `ivy-switch-buffer-transformer` and `ivy-modified-buffer` is not really necessary or just use `ivy-rich-switch-buffer-indicators` when it is.

[2020-05-02 13:02] ianpan870102 opened #79 "Permission denied on find-file"
- OS: Windows 10 + WSL Ubuntu 18.04
- Emacs version: 27.0.91
- Problem: When I try to navigate through my directories with `C-x C-f`, I encounter permission problems.

This is the full backtrace:
[code]

[2020-05-04 04:17] ianpan870102 commented on #79
On further investigation, this problem seems to occur only with `find-file`, because `C-x d` dired works and I can interactively choose whichever directory I want to view.

[2020-05-20 21:26] gdindi opened #81 "Symbol’s value as variable is void: ivy--display-transformers-list"
Hi,

After upgrading Ivy to today's version on MELPA, I get the following error when activating ivy-rich-mode:

Symbol’s value as variable is void: ivy--display-transformers-list

I understand that [this commit](https://github.com/abo-abo/swiper/commit/98c61dec812c3a3f227e71a59e004d2d90593130) has marked it as obsolete.

[2020-05-21 00:35] Yevgnen commented on #81
I believe #80 fixed the issue, let me know if it didn't :)

[2020-05-21 00:35] #81 closed

[2020-05-21 14:08] seagle0128 commented on #37
I released https://github.com/seagle0128/all-the-icons-ivy-rich on Melpa.

[2020-05-23 09:16] seagle0128 opened #83 "Error: wrong-type-argument plistp"
The PR #80 introduced the error below. It should use `ivy--alist-set` and `ivy--alist-get`.

See https://github.com/seagle0128/all-the-icons-ivy-rich/issues/11.

[code]

[2020-05-27 23:57] #83 closed

[2020-05-30 06:23] ianpan870102 commented on #79
@Yevgnen Friendly ping

[2020-05-30 12:19] Yevgnen commented on #79
Sorry for the super late reply. I was finding a different machine for testing the permission issue in the early days since I can not reproduce on my Mac and forgot about it. I will test it in the coming Monday as soon as I get access to that machine.

[2020-06-01 01:04] Yevgnen commented on #79
I still can not reproduce in another machine with different user & group and file mode 000. But maybe kind of fix just like ignoring any error should work for you?

[code]

[2020-06-01 03:40] ianpan870102 commented on #79
Yes! With the latest update the permission problem went away, cheers!
I'll close this issue for now. Thanks again

[2020-06-01 03:40] #79 closed

[2020-06-23 00:14] jjzmajic opened #86 "Thouhts on adding icons to counsel company?"
The bulk of the work is already [here](https://github.com/sebastiencs/company-box/blob/master/company-box-icons.el). The question is if this would be a useful addition to the project or something best done in my private config?

[2020-06-29 00:34] Yevgnen commented on #86
Sorry for being late. It seems most of dependencies/effort comes from getting icons from different backends, e.g. `(company-box-icons--yasnippet company-box-icons--lsp company-box-icons--elisp company-box-icons--acphp)` of `company-box-icons-functions`. That maybe pretty much for `ivy-rich`. Also, since users use different fonts, the icons comes from default may have alignment issue without fine t

[2020-07-04 15:12] seagle0128 commented on #86
It has been implemented in https://github.com/seagle0128/all-the-icons-ivy-rich/commit/ba5fb3d22673e50c2807e16dda4fe39c8428b33a.

[2020-07-04 15:35] jjzmajic commented on #86
Amazing! Thanks!

[2020-07-04 15:35] #86 closed

[2020-07-07 16:37] 2bruh4me opened #87 "Scrolling in switch to buffer causes extreme lag when ivy-rich-mode is on"
This is unbearable and it can cause Emacs to freeze for seconds but when I turn ivy-rich-mode off there are no lags. I am using Emacs 28.0.5 (HEAD) if that helps. Scrolling in M-x also causes lags but not nearly as severe.

[2020-07-17 23:06] EtiamNullam commented on #87
Same here on Windows 10, Emacs 27 with Doom Emacs. `ivy-rich` on 1097013

Its really slow when you move selection in any `buffer switching` buffer, like `+ivy/switch-workspace-buffer`.

For me navigating `M-x` is fine.

Holding down arrow key in buffer list:

[code]

[2020-07-18 00:33] EtiamNullam commented on #87
This looks familiar: https://github.com/hlissner/doom-emacs/issues/1317

[2020-08-13 13:57] srustamo opened #88 "Emacs 27.1: void-variable ivy--display-transformers-alist"
Win10.

Have both:
GNU Emacs 26.3 (build 1, x86_64-w64-mingw32) of 2019-08-29
and
GNU Emacs 27.1 (build 1, x86_64-w64-mingw32) of 2020-08-12

Same config.

In v 27.1 running `ivy-rich-mode` errors out:

[code]

[2020-08-14 12:33] srustamo commented on #88
Looks like some local issue.

[2020-08-14 12:33] #88 closed

[2020-09-09 13:59] haji-ali commented on #87
I am also experiencing the same lag. Based on your profiler output I think `projectile-project-root` is slow, but `ivy-rich-switch-buffer-project` overall is also slow (and calls `projectile-project-root` multiple times). In any case, I solved this by creating a cache for the transformations (I think this method should be adopted by `ivy-rich`).

[code]

It is clearly still slow when a new candida

[2020-10-29 16:23] adamfaryna opened #89 "Search for a phrase through entire file path not only buffer name"
Is it possible to make ivy-rich search for a phrase through entire file path not only buffer name?

[2020-10-31 16:55] adamfaryna opened #90 "ivy-rich only in org buffers"
I try to set ivy-rich to work only in org buffers, and use regular `counsel-switch-buffer` in other buffers. Is there a way to setup it up by configuring `ivy-rich-display-transformers-list` or any other way?

[2020-10-31 16:56] adamfaryna opened #91 "ivy-rich only in org buffers"
I try to set ivy-rich to work only in org buffers, and use regular `counsel-switch-buffer` in other buffers. Is there a way to setup it up by configuring `ivy-rich-display-transformers-list` or any other way?

[2020-11-03 04:28] Yevgnen commented on #90
I can't figure out a elegant solution for this right now...I may try this later.

[2020-11-03 04:29] Yevgnen commented on #91
Duplicated #90

[2020-11-03 04:29] #91 closed

[2020-11-03 04:34] Yevgnen commented on #89
As noted in [README](https://github.com/Yevgnen/ivy-rich#4-faq) and #28, I'm afraid it is not possible to find an easy solution currently. But there's some [efforts](https://github.com/Yevgnen/ivy-rich/issues/28) tried by the community. If anyone has suggestions on this, I'm glad to work on it.

[2020-11-03 04:35] Yevgnen commented on #76
Feel free to reopen if the issue is not fixed.

[2020-11-03 04:35] #76 closed

[2020-11-07 21:05] pspencil commented on #53
My home-baked fallback when there's no project root.

[code]

[2020-11-08 02:22] tam17aki commented on #53
Or like this ?

[code]

[2020-11-08 02:57] pspencil commented on #53
Oh yes indeed. I am using doom emacs and `defadvice!` is a doom macro. Basically the same as what you wrote there.

[2020-11-18 14:34] s-kostyaev opened #93 "ivy-rich-switch-buffer-root performance is pretty ugly"
Hi!
Thanks for this cool project.
Unfortunately I can't switch buffer with long buffer list if I use `ivy-rich` with default settings. I need to disable a couple of transformers. Before I did it, go to next line in `ivy-switch-buffer` can spend seconds.
This is screenshot of profiler-report:

![Emacsa9l1Sr](https://user-images.githubusercontent.com/8576745/99543510-d56ef380-29e5-11eb-9e9c-a327f11a

[2020-11-18 23:57] Yevgnen commented on #93
How many buffers did you open? Did you open any remote buffer over `tramp`?

[2020-11-19 04:10] s-kostyaev commented on #93
190 buffers are open. No one from tramp. Most buffers from 2 projects, and several from couple other projects.

[2020-11-20 00:02] Yevgnen commented on #93
That's quite a lot...

I tested in 300+ buffers with multiple projects (org notes, Python projects) and haven't encountered the issue. All of `projectile`, `ffip` and `project.el` work well. Are you using the master version of `ivy-rich`? Do you have complicate project structures? Does this happen with a small number of buffers opened?

[2020-11-20 11:34] s-kostyaev commented on #93
I use 20201118.16 version

No. Looks like it start to be as slow as many buffers with `project.el` git project (vc-project) are opened. I use only `project.el` for project management.

What project structures are complicated? I have many files deep nested in project directories. Is is complicated enought?

[2020-11-23 00:13] Yevgnen commented on #93
`projectile` has trouble dealing with complicate project structures but can be relieved by customizing `projectile-project-root-files-functions`. I might take some time to see what I can do with `project.el`.

[2020-11-26 17:13] EgorDuplensky opened #94 "Magit intergration"
I am implementing ivy-rich support for magit's ivy commands (mostly revision selection).
Would such pull request be acceptable for the project or I better to create a separate package?

[2020-11-27 01:30] Yevgnen commented on #94
Can you point me to which ivy commands for magit?

[2020-11-27 10:16] EgorDuplensky commented on #94
Magit does not really have ivy commands. It uses _ivy-completing-read__ (see _magit-completing-read_) to form a command of the fly.
Basically I am creating counsel wrappers for those magit commands which eventually call _ivy-completing-read_ (like _magit-checkout_) and then customizing them using ivy-rich framework. I haven't find a better way to do this.

The main obstacle here is that, for examp

[2020-11-29 03:49] Yevgnen commented on #94
I see. It seems you must first ivyfy a Magit command first. Although `ivy-rich` support something like

[code]

where `execute-extended-command` use the internal `completing-read` in `read-extended-command`. But it does not work directly with Magit and I currently have no idea of it due to my limited Elisp.

[2020-12-08 07:35] ErkiDerLoony commented on #87
To make things even more seemless and also faster the first time `switch-buffer` is called I added a timer to re-build the cache in the background when idle:

[code]

[2020-12-17 20:03] jeffvalk opened #95 "Simple way to customize transformer column property"
Please correct me if I am missing something. Currently, there doesn't seem to be a simple way to customize a column property without rewriting the entire transformer definition.

For example, to customize the `:width` property of the "major-mode" column of the `'ivy-switch-buffer` transformer, one must do something like the following:
[code]
This is quite a bit of code, and requires knowledge of i

[2020-12-18 00:32] Yevgnen commented on #95
Yes, that's cumbersome... Do you have any API suggestion? Will simple wrapper like theses help?

[code]

[2020-12-18 07:57] jeffvalk commented on #95
Yes, those wrapper functions would be a big improvement.

I'd suggest two things to help API expressiveness:
1. Allow the column property setting function to accept any number of key-value pairs; and
2. Consider a shorter function name. :slightly_smiling_face:

Perhaps something like the following:

[code]

[2020-12-18 09:17] Yevgnen commented on #95
That's great suggestion! Do you mind opening a PR for this?

[2020-12-18 16:14] jeffvalk commented on #95
Sure. I will do that shortly.

[2020-12-19 01:24] #95 closed

[2020-12-19 18:36] jeffvalk opened #97 "Column :align behavior is backwards"
Setting a transformer column's `:align` property in `ivy-rich-display-transformers-list` aligns text backwards from the semantics:

- Setting `:align` to `'left` will **right**-align the column.
- Setting `:align` to any other value will **left**-align the column.

This seems to be because the function `ivy-rich-normalize-width` interprets its `left` argument as "pad on the left" rather than "alig

[2020-12-21 01:33] Yevgnen commented on #97
That's awkward... Thanks for reporting this.

[2020-12-21 18:38] jeffvalk commented on #97
It had me puzzled for a few minutes. :slightly_smiling_face:

In fixing this, it might be good to change the `left` argument's name and the docstring in `ivy-rich-normalize-width` too.

[2020-12-22 05:14] Yevgnen commented on #97
Should be clearer now 😅

[2020-12-22 11:53] LogicalOverflow commented on #93
I also noticed a noticeable (but not that big) delay with (just) 30 buffers, most of them in no project. As I use `ivy-switch-buffer` very often, I want it to be fast and that delay did bug me.

I did some hacking on-top of `ivy-rich-swich-buffer-root` and added:

[code]
This works well for now and the switching buffers is fast again. I think caching these results is a reasonable thing to do, as a

[2020-12-22 12:05] s-kostyaev commented on #93
I don't use `ivy` such as `ivy-rich` anymore. But this solution looks reasonable.

[2020-12-24 00:04] #93 closed

[2020-12-25 09:57] #37 closed

[2020-12-28 16:13] dolmens opened #99 "is it a conflict with counsel-mode"
[code]

cannot use ivy-rich to switch buffer. but if i move the counsel-mode to :init section then all are ok. i don't know why.
and this is my full init.el:
[code]

[2020-12-29 00:17] Yevgnen commented on #99
Hi, please try something like

[code]

`ivy-rich` should be loaded after both `ivy` and `counsel`. I will make it a bit clearer in the README.

[2020-12-29 00:54] dolmens commented on #99
Solved. Thanks.

[2020-12-29 00:54] #99 closed

[2021-01-05 15:11] #97 closed

[2021-01-08 10:52] publicimageltd commented on #89
I'd be also interesting in matching the path (in `ivy-switch-buffer`), and also the project name. Looking at the code, I do not understand how the matching actually works. It looks like `ivy` will match the whole string, but then why is `ivy-rich` only matching against the buffer name? Is there some alist magic somewhere, mapping the buffer name to a display string? I think the easiest way to allo

[2021-01-08 14:31] Yevgnen commented on #89
@publicimageltd Hi, `ivy-rich` does not do any 'match' and just use `ivy`'s transformer mechanism to display strings. 😅Due to my limited Elisp knowledge, you may need to dig into how `ivy` matches, displays and highlights matches(My best guess is  : how it matches and highlights matches are two different things).

[2021-01-09 09:23] publicimageltd commented on #89
Thanks, I might take the time to find out how `ivy` does that.

[2021-01-10 15:04] MagicRB opened #100 "Causes lag when a file on a remote samba share is open, fixed by project root caching."
Leaving this here as help if anyone encounters this, also adding this piece of info to the README would be a good idea.

[2021-01-12 15:27] hyOzd opened #101 "ivy-switch-buffer errors with "Error in post-command-hook (ivy--queue-exhibit): (void-function when-let*)""
After a recent package update ivy-switch-buffer doesn't work on my setup with ivy-rich-mode. It errors with this message and drops to emacs default prompt:

`Error in post-command-hook (ivy--queue-exhibit): (void-function when-let*)`

Other commands seem to work fine, such as M-x and find-file. When I disable `ivy-rich-mode`, ivy-switch-buffer works too.

I tried force recompiling my package direc

[2021-01-24 19:49] ambihelical opened #102 "counsel-bookmark new bookmark workflow broken"
It should be possible with counsel-bookmark to create a new bookmark by typing a name until no existing bookmark name matches and then pressing return to define a new bookmark.

Recent changes in ivy-rich make harder to use because the name is not shown, and matching occurs on the bookmark path.

To fix this the bookmark name should be shown and matched on, and all other columns are for informatio

[2021-01-25 00:12] Yevgnen commented on #102
Hi, I'm totally agree with you and I've added back the bookmark name column in the master branch. But unfortunately, matching highlight can not be controlled in `ivy-rich` side.

[2021-01-25 00:20] Yevgnen commented on #101
Hi, sorry for the super late reply. Do you have a `when-let` in emacs 25? I've just changed back the `when-let*` to `when-let` in that change. Please try the master branch.

[2021-01-25 10:29] hyOzd commented on #101
@Yevgnen Yes there is `when-let` in emac 25.

[code]

I've tried latest version from elpa (20210125.19). It works now. I think issue is solved.
Thanks for the fix.

[2021-01-25 10:29] #101 closed

[2021-01-26 18:39] arozbiz commented on #87
I've had a similar problem (specifically when there are a bunch of .org files in my ivy buffer list), and @ErkiDerLoony's answer worked for me.

[2021-01-26 18:53] arozbiz commented on #87
Apologies for the noob question, but should I include both @haji-ali and @ErkiDerLoony's code in my .config file (I'm running Doom), or just @ErkiDerLoony's. Thanks.

[2021-01-26 19:13] haji-ali commented on #87
@ErkiDerLoony’s code is enough (and more sophisticated).

[2021-01-26 19:14] arozbiz commented on #87
Got it, thanks!

On Tue, Jan 26, 2021 at 1:13 PM Abdul-Lateef Haji-Ali <
notifications@github.com> wrote:

[2021-01-27 12:09] BooAA opened #103 "evenp not found in Emacs 28"
Hi, thanks for the work of this awesome package.

When I tried to use `ivy-rich-modify-column` to customize how annotation is shown, I got error `(void-function evenp)`. I'm using Emacs 28 master branch. I don't know whether same error happen in other version of Emacs, maybe we can use `cl-evenp` to make sure it works everywhere.

[2021-01-30 05:24] Yevgnen commented on #103
Thanks for the kind words and sorry for late reply. I've pushed a commit for this in master.

[2021-02-10 08:28] vconcat opened #104 "'ivy-rich-counsel-function-docstring' does not remove ':advice' thing"
[code]

Emacs: 27.1

`M-x counsel-describe-function`

If I replace the regexp in `ivy-rich-counsel-function-docstring` with [this](https://github.com/minad/marginalia/blob/51f750994aaa0b6798d97366acfb0d397639af66/marginalia.el#L355), it display the original doc correctly.

FYI, https://github.com/minad/marginalia/issues/19

[2021-02-10 12:08] Yevgnen commented on #104
Thanks for reporting the issue. I gonna steal that regex...

[2021-02-11 09:54] Imymirror commented on #88
emacs-macos

I seem to have the same problem.

[2021-02-20 14:33] vconcat commented on #104
Thanks.

[2021-02-20 14:33] #104 closed

[2021-03-02 12:52] BooAA commented on #103
Great! I'll close the issue.

[2021-03-02 12:52] #103 closed

[2021-03-11 20:15] EgorDuplensky commented on #94
There is an example of _magit-checkout_ command
![ivy-rich-magit-example](https://user-images.githubusercontent.com/22236985/110848554-4a30ab00-82bf-11eb-8a24-a99fdb6b8d94.png)

[2021-03-12 15:24] EgorDuplensky commented on #94
Summon @Yevgnen

[2021-03-13 09:21] Yevgnen commented on #94
Hi, I'm not sure if there's a way to speed up. Caching is definitely a possible way to do it. How does your transformer look like?

About the reusing the transformer, you can take a look of [this](https://github.com/Yevgnen/ivy-rich/blob/master/ivy-rich.el#L140-L155).

[2021-03-13 19:48] EgorDuplensky commented on #94
[code]
These are for 'b b', 'b c', and 'b n' magit actions

I use _magit-get-branch-and-upstream_ instead of _ivy-rich-candidate_ to have branch displayed in magit style, like branch[upstream]. In the first version I had a separate column for upstream branch.

[2021-03-24 20:02] agzam opened #105 "Question: Dynamic toggle"
Very often, I need to toggle ivy-rich mode off during an Ivy session temporarily. I don't want to turn Ivy-rich-mode completely, just for that session. Is that possible at all?

[2021-03-25 04:21] Yevgnen commented on #105
Hi, what do you mean by session? An command execution?

[2021-03-25 15:32] agzam commented on #105
When I'm in the Ivy/Counsel panel already - be that Buffers, M-x, etc. is there a way to turn off Ivy-rich-mode without having to close the Ivy session, then execute `(ivy-rich-mode -1)` and then open Ivy again (so I can see things without ivy-rich), and then turn ivy-rich-mode back on afterwards?

[2021-03-25 16:10] Yevgnen commented on #105
Hi,

Sorry, currently this is not support. There some issues here:

- I'm not sure how to achieve this without re-executing the command since the candidate string has already been transformed. I think the redundant highlights on annotation issue is also related to this `ivy`'s display mechanism.
- You don't need to close the `ivy` session to eval `(ivy-rich-mode -1)`. But even though, this display

[2021-04-05 04:26] JasonKDarby commented on #88
emacs 27.1 windows 10

same issue

[2021-04-07 09:02] yyangdid opened #106 "Please，How to set it like this？"
Please，How to set it like this：
![Snipaste_2021-04-07_16-53-50](https://user-images.githubusercontent.com/10922667/113838970-dbf9de00-97c1-11eb-890e-0ba19401dd99.png)

[2021-04-07 09:09] Yevgnen commented on #106
Hi,

Unfortunately, as stated [here](https://github.com/Yevgnen/ivy-rich#important-changes), the support for virtual buffers is dropped in the very [old days](https://github.com/Yevgnen/ivy-rich/commit/604fa2308464186a9867cc6c0ef4235f0377f0e6) and currently not haven't been added back. You need to write you own custom transformers at the moment for handling virtual buffers. I almost forgot that pa

[2021-04-07 09:11] yyangdid commented on #106
OK, Thank you. Nice package 👍

[2021-04-08 08:46] shankar2k opened #107 "How to add a column?"
I tried to use `ivy-rich-modify-columns` to add a column for `counsel-recentf`, like so:

[code]
This only changed the width of the existing column `ivy-rich-candidate` to 0.6, but didn't add the new first column `file-name-nondirectory`. As a workaround, I made my own function `ivy-rich-replace-columns` that replaces the whole column list:

[code]

This worked, but as you can see, it required tha

[2021-04-08 09:54] Yevgnen commented on #107
Hi, thanks for the issue. Currently the `*-modify-*` functions does not support complete replace the columns.

At the same time, I found a related bug by inspecting into the code. I will work on it later.

[2021-04-08 10:37] shankar2k commented on #107
Thanks for looking into this. My code above has a small typo. The first code block should use `ivy-rich-modify-columns`, not my custom function `ivy-rich-replace-columns`

[2021-04-09 01:31] Yevgnen commented on #107
Hi, can you try the [this](https://github.com/Yevgnen/ivy-rich/tree/modify) branch?

I've fixed a issue the `ivy-rich-modify-column` not updating the new transformer column and add a new function `ivy-rich-set-columns` to set/replace column definitions completely. You may refer to the docstring of these functions to see example usages. In your specific case, this may be

[code]

Let me know if tha

[2021-04-09 08:56] shankar2k commented on #107
This works, thanks for the prompt respone! It appears that your new function `ivy-rich-set-columns` is a cleaned-up version of my `ivy-rich-replace-columns`. This overwrites the original transformer columns and doesn't include any that aren't explicitly specified in COLUMN-LIST. This means that the setting you specified above:

[code]
Doesn't do exactly what I want because it omits the column `(iv

[2021-04-09 09:02] Yevgnen commented on #107
Yes, this is intended behavior. As mentioned in the [docstring](https://github.com/Yevgnen/ivy-rich/blob/modify/ivy-rich.el#L163-L175) of `ivy-rich-modify-column`, the 'add' behavior for new column is unclear: Where shall the new ones be set? I'm not sure if appending is always the best behavior and sometimes it may confused new users. I personally don't have any better idea right now...

[2021-04-09 09:09] shankar2k commented on #107
That's a good point. The order of the columns does matter, and its not clear where a new column should go. I can see situations where the new columns should be be prepended (like my case), appended, or even in between existing columns, and there doesn't seem to be an elegant way to specify this. Thanks again!

[2021-04-09 09:23] Yevgnen commented on #107
I'm going to merge the fix into master. Let me know if you have any idea about that!

[2021-04-09 09:32] #107 closed

[2021-04-09 09:56] shankar2k commented on #107
Here's an idea. Currently in `ivy-rich-set-columns`, one must specify a list of transformer columns, where each transformer column is a list of the form:

[code]
Instead of a plist of parameter-value pairs, how about if one specifies a symbol like `'existing`, then `ivy-rich-set-columns` will use the plist for the transformer in the original `ivy-rich-display-transformers-list`.  Would that be dif

[2021-04-09 10:02] shankar2k commented on #88
I think this happens because you are using the melpa-stable version (0.1.6) instead of the melpa version (20210212.1441)

[2021-04-10 06:01] #106 closed

[2021-04-16 19:14] EverardNisse opened #108 "ivy-rich-switch-buffer-path not shown when switching buffers"
Even on a fresh emacs install, switching buffers with C-x b does not show the path and project columns with ivy-switch-buffer. The space for the data seems to be reserved but blank. Changing themes or ivy-rich variables (like switching column order, width, path abbreviation, etc) does not seem to have an effect. Ivy-rich-mode was cycled after changes when testing.

[2021-04-29 04:32] Yevgnen commented on #108
What does your config look like? Can you provide a reproducing script?

[2021-05-15 08:46] EverardNisse commented on #108
Sorry for the delay. The most minimal setup I can get is:
1. Start emacs with "env HOME=~/test emacs"
2. Evaluate to add Melpa
[code]
3. M-x package-install ivy, counsel, ivy-rich
4. M-x ivy-mode, ivy-rich-mode
5. C-x b

At which point I'd expect to see paths in the blank spaces.
![Screenshot_20210515_104502](https://user-images.githubusercontent.com/77442297/118354269-d9756b80-b559-11eb-8e19-0884

[2021-07-29 09:32] fapdash opened #110 "Noticable delay for (ivy-switch-buffer) and (counsel-find-file) when using TRAMP"
When I use `ivy-rich-mode` and tramp in conjunction I experience performance issues.

With `ivy-switch-buffer` the startup delay is very noticeable.
It can be several seconds until I see the list of buffers if I have several TRAMP connected dired buffer open.
`ivy-rich-project-root-cache-mode` helps but the startup gets even noticeably slower if there is only one new TRAMP buffer that's not yet ca

[2021-07-30 00:38] Yevgnen commented on #110
Can you try to profile this by using `profile-start` and `profile-report`?

[2021-07-30 20:57] fapdash commented on #110
`ivy-switch-buffer`:

[code]

[2021-07-31 14:37] fapdash commented on #110
From `counsel-find-file`:

[code]

[2021-08-02 05:12] Yevgnen commented on #110
Hi, you can use `C-u TAB` to fully expand a node to provide all details.

[2021-08-05 19:49] fapdash commented on #110
Just found out the other day that you can expand the compiled function with TAB even though the GUI doesn't let you click on it.
Thank you for the tip with the prefix.

Had to put the reports in a gist as they are too long for a comment: https://gist.github.com/fapdash/fe906ebaee8763d9a5e02ee1b0d3227f

[2021-09-08 19:25] alexei-28 opened #111 "ivy-rich-set-display-transformer: Symbol’s value as variable is void: ivy--display-transformers-lis"
Linux Mint 20.2

Emacs 27.2

Install package **ivy-rich ver.0.1.6**

In my init.el add the next

[code]

[2021-09-16 15:31] NightMachinary opened #112 "`ivy-rich` messes up the UI `ivy-truncate-lines` is false"
![image](https://user-images.githubusercontent.com/36224762/133641024-4e048a45-016d-46f6-a566-92c586a76378.png)

To fix this problem, `ivy-rich` should always truncate its additions itself, so that `ivy-rich` never causes a soft wrapping.

[2021-09-21 17:38] cjauvin commented on #60
I'm currently looking to do exactly that: when I do `C-x b` (`ivy-switch-buffer`) I would like to have a way to filter (or search, refine) by project name first (as it is being displayed by `ivy-rich`). I'm not sure if it's really possible but this seems like an interesting starting point to investigate further.

[2021-10-07 20:47] EverardNisse commented on #108
That is an excellent catch @avexs. Hope a variation gets merged, until then using your override.

[2021-10-07 20:47] #108 closed

[2021-11-02 05:39] evanhackett commented on #111
I have the same problem on a fresh install of emacs on a new computer. The same init file was working on the previous computer, so maybe it has something to do with updated packages or newer emacs version?

@alexei-28 did you ever figure this out?

[2021-11-22 16:49] cjauvin commented on #28
I have proposed a simple [modification](https://github.com/abo-abo/swiper/pull/2936) to ivy which allows to filter based on additional columns supplied by ivy-rich (or any user-supplied transformer function), on a per-command basis (i.e. in my personal case I use it only to modify the behavior of `ivy-switch-buffer`, as the extra cost of computing the transformations on the fly is low enough to be

[2021-11-22 16:49] cjauvin commented on #60
I have proposed a simple [modification](https://github.com/abo-abo/swiper/pull/2936) to ivy which allows to filter based on additional columns supplied by ivy-rich (or any user-supplied transformer function), on a per-command basis (i.e. in my personal case I use it only to modify the behavior of `ivy-switch-buffer`, as the extra cost of computing the transformations on the fly is low enough to be

[2021-11-22 16:49] cjauvin commented on #89
I have proposed a simple [modification](https://github.com/abo-abo/swiper/pull/2936) to ivy which allows to filter based on additional columns supplied by ivy-rich (or any user-supplied transformer function), on a per-command basis (i.e. in my personal case I use it only to modify the behavior of `ivy-switch-buffer`, as the extra cost of computing the transformations on the fly is low enough to be

[2021-12-02 16:25] thor314 opened #113 "bad integration with ivy-posframe"
`ivy posframe` moves the minibuffer into the center of the display, and is generally visually appealing, but has doesn't integrate well ootb with ivy-rich. Ivy rich begins too far right by default, and falls off the screen. This is particularly bad when the frame is not maximized.

I'm feature requesting:
- a customization option for ivy-rich starting location (ideally I'd like to set this farther

[2021-12-02 21:38] thor314 commented on #113
I looked into the ivy-rich-display-transformers list, but was unable to change the default:
[code]
to something suitable for my use case, by changing the width parameter.

[2021-12-15 11:24] mihaiolteanu commented on #110
I'm noticing the same delay.

[2022-01-28 12:33] mihaiolteanu opened #114 "Transformer does not get applied when calling the command from elisp code"
I've defined my own command using ivy-read and added ivy-rich transformers to it. When calling it interactively it works as expected, but when called directly from elisp code the transformers do not get applied.

A command to install packages using pacman,

[code]

The transformers to display the package name, version and info,
[code]

Setting up the transformers for the above command,
[code]

The

[2022-03-20 09:30] adamWithF commented on #110
Same here

[2022-05-16 21:24] jjnilton opened #116 "Enable ivy-rich-mode in counsel-find-file and projectile-switch-to-buffer"
How one can enable ivy-rich-mode in counsel-find-file and projectile-switch-to-buffer?

Thanks!